@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Major+Mono+Display&display=swap');

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* set up the body */
body {
    font-family: 'Comfortaa', cursive;

    /* font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) ); */
    line-height: 1.5;
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
    text-align: center;
}


/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


li,a{
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 3rem;
}


.welcome-title{
    color: #ffffff;
}

.event-title{
    color: #cd9fe8;
}

.primary-nav{
    display: flex;
    
}

.nav-bar{
    padding: 1rem;
    font-family: 'Major Mono Display', monospace;
    color: rgb(0, 0, 0);
    transition: all 250ms ease-in-out;
}
.nav-bar:hover {
    background-color: #8766a1;
    color: white;
    
}

.logo{
    font-family: 'Major Mono Display', monospace;
}

.home-display{
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 2rem;
    
   
}

.container{
    background-color: #291f31;
    color: white;
    border-radius: 20px;
}


.home-img-logged-out{
    background-image: url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-color: #0e0e0e;
    min-height: 35rem;
    display: flex;
    align-items: center;
}

.home-img-logged-in{
    background-image: url("https://images.unsplash.com/photo-1568732626545-b9208b767347?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1464&q=80");
    background-color: #0e0e0e;
    min-height: 35rem;
    display: flex;
    align-items: center;
}

.home-text{
    max-width: 80%;
    background-color: rgba(0, 0, 0, 70%);
    padding: 4rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 45px;
}
.home-text>h1{
    color: #cd9fe8;
    font-size: 56px;
    font-weight: 500;
}

.home-btn-container{
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

.home-events{
    margin: 1rem auto;
    width: 32%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.home-events:hover{
    background-color: #291f31c8;
}

.home-events-container{
    display: flex;
    margin: 0 1rem;
}

.upcoming-events-container{
    margin: 0 1rem;
}

.upcoming-events{
    margin: 1rem 3rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

button:hover:not([disabled]){
    background-color: #361452c8;
    color: #ffffff;
}

button:disabled {
    background-color: #688607c8;
    color: #3d3d3d;
}

button{
    padding: .8rem 1.5rem;
    border-radius: 12px;
    border: none;
    background-color: #8766a1;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.form{
    padding: 3rem 1rem ;
    max-width: 45%;
    margin: 5rem auto;
    
}

.form div{
    max-width: 30rem;
}

div>label, div>input, div>textarea{
    display:block;
    width: 100%;
    text-align: left;
}

.time-container{
    display: grid;
    grid-template-columns: 50% 50%;
}


form>*{
    margin: 1.5rem auto;
   
}

.logo>h2{
    cursor: pointer;
}

.login-redirect{
    color: #8766a1;
    margin-left: .5rem;
}

/* Search Bar */
.search-bar{
    max-width: 50%;
    margin: 2rem 2rem 2rem 3rem ;
    text-align: left;
}
.search-bar>*{
    display: initial;
    margin: 0;
    
}

/* Dropdown Feature */


.dropdown-content{
    display: none;
    position: absolute;
    min-width: 7rem;
    margin-top: 0.5rem;
    background-color: #8766a19d;
}

.dropdown-content a{
    display: block;
    color: #ffffff;
    text-align: left;
    transition: all 250ms ease-in-out;
}

.my-acc{
    padding: 0.3rem .93rem;
}

.create-event{
    padding: 0.3rem 2.72rem;
}

.dropdown-content a:hover{
    background-color: #5a3874;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.radio-container>*{
    text-align: left;
    margin-top: 1rem;
}

.radio-container span{
    margin-left: 1rem;
}

.event-details p, .event-details> ul, .event-details>li{
    text-align: left;
    margin: 1rem;
    padding: 0 5rem;
}

.flashes{
    background-color: #5d4073;
}

.weather-link{
    color: #cd9fe8;
    cursor: pointer;
    text-align: left;
    display: block;
}

.weather-info{
    display: none;
    color: #cd9fe8;
}


#caption{
    max-width: 50%
}

.add-photos-form{
display: none;
margin-left: 1.2rem;
}

.add-photos-form> div{
    display: flex;
    flex-wrap: wrap;
}
.add-photos-form button{
    margin-top: 1rem;
}

.gallery{
    max-width: 90%;
}

.image-holder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
    padding: 0;
}

.detail-btn-holder{
    margin: auto;
}
