@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Major+Mono+Display&display=swap');

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* set up the body */
body {
    font-family: 'Comfortaa', cursive;
    line-height: 1.5;
    min-height: 100vh;
    color: #1b1321;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
    text-align: center;
}


/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


li,a{
    text-decoration:none !important;
    list-style-type: none;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 3rem;
}


.primary-nav{
    display: flex;
}


.nav-bar{
    padding: .9rem;
    font-family: 'Major Mono Display', monospace;
    font-size: clamp(.9rem, 1.5vw, 1rem);
    color: rgb(0, 0, 0);
    /* transition: all 250ms ease-in-out; */
    
}
.nav-bar:hover {
    border-bottom:4px solid #8766a1;
}

.logo{
    font-family: 'Major Mono Display', monospace;
}

.mobile-nav-toggle{
    display: none;
}

/* Dropdown Feature */

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 7rem;
    margin-top: .9rem;
    background-color: #8766a19d;
}

.dropdown-content a{
    display: block;
    color: #ffffff;
    text-align: left;
    transition: background-color 250ms ease-in-out;
}

.my-acc{
    padding: 0.3rem .93rem;
}

.create-event{
    padding: 0.3rem 2.72rem;
}

.dropdown-content a:hover{
    background-color:  #8766a1;
}

.dropdown:hover .dropdown-content{
    display: block;
}




.welcome-title{
    color: #ffffff;
}

.event-title{
    color: #cd9fe8;
}

.home-display{
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 2rem;
}

.container{
    background-color: #291f31;
    color: white;
    border-radius: 20px;
}


.home-img-logged-out{
    background-image: url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-color: #0e0e0e;
    min-height: 35rem;
    display: flex;
    align-items: center;
}

.home-img-logged-in{
    background-image: url("https://images.unsplash.com/photo-1568732626545-b9208b767347?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1464&q=80");
    background-color: #0e0e0e;
    min-height: 35rem;
    display: flex;
    align-items: center;
}

.home-text{
    max-width: 80%;
    background-color: rgba(0, 0, 0, 70%);
    padding: 4rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 45px;
}
.home-text>h1{
    color: #e9d9f2;
    font-size: clamp(3rem, 4vw, 7rem);
    font-weight: 500;
}

.home-btn-container{
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

.home-events{
    margin: 1rem auto;
    padding: 1rem;
    width: min(32%, 33rem);
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.home-events:hover{
    background-color: #291f31c8;
}

.home-events-container{
    display: flex;
    margin: 0 1rem;
}

.upcoming-events-container{
    margin: 0 1rem;
}

.upcoming-events{
    margin: 1rem auto;
    width: 70%;
    padding: 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.upcoming-events button{
    margin: .5rem;
}

.btn-style{
    padding: .8rem 1.5rem;
    border-radius: 12px;
    border: none;
    background-color: #8766a1;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.btn-style:hover:not([disabled]){
    background-color: #56297bc8;
    color: #ffffff;
}


.btn-style:disabled {
    background-color: #5d874de2;
    color: #3d3d3d;
}

.detail-btn-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.form{
    padding: 3rem;
    width: clamp(min(25rem), 70%, max( 40rem));
    margin: 5rem auto;
}


div>label, div>input, div>textarea{
    display:block;
    width: 100%;
    text-align: left;
}

.time-container{
    display: grid;
    grid-template-columns: 50% 50%;
}


form>*{
    margin: 1.5rem auto;
   
}

.logo>h2{
    cursor: pointer;
}

.login-redirect{
    color: #8766a1;
    margin-left: .5rem;
}

/* Search Bar */
.search-bar{
    max-width: 50%;
    margin: 2rem 2rem 2rem 3rem ;
    text-align: left;
}
.search-bar>*{
    display: initial;
    margin: 0;
    
}



.radio-container>*{
    text-align: left;
    margin-top: 1rem;
}

.radio-container span{
    margin-left: 1rem;
}

.event-details p, .event-details> ul, .event-details>li{
    text-align: center;
    margin: 1rem;
    padding: 0 5rem;
}

.flashes{
    background-color: #5d4073;
}

/* Weather display */
.weather-link{
    color: #cd9fe8;
    cursor: pointer;
    text-align: left;
    display: block;
}

.weather-info{
    display: none;
    color: #cd9fe8;
}


/* gallery */
.add-photos-form{
display: none;
margin-left: 1.2rem;
}

.add-photos-form> div{
    display: flex;
    flex-wrap: wrap;
}
.add-photos-form button{
    margin-top: 1rem;
}

.gallery{
    max-width: 90%;
}
.gallery h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.image-holder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
    padding: 0;
}

.past-events-checkbox{
    text-align: left;
    margin: auto 4rem auto auto;
}

.search-and-check-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

footer{
    background-color: #291f31;
    color: white;
    padding: .5rem;
    font-size: .7rem;
    margin-top: 2rem;
}


.loader{
    margin: auto;
    width: 3rem;
    aspect-ratio: 1;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #57355e;
    animation: spinner 3s ease-in-out infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media (max-width: 55em) {   
    body{
        font-size: .9rem;
        align-items: center;
    }

    .primary-nav{
        flex-direction: column;
        gap: 2rem;
        position: fixed;
        inset: 0 0 0 40%;
        padding: 6rem 2rem;
        text-align: left;
        z-index: 100;
        background-color: #1b1720ec;
        transform: translate(100%);
        transition: all 250ms ease-in-out;
    }
    @supports(backdrop-filter: blur(2rem)){
        .primary-nav{
                background-color: #b681c90c;
                backdrop-filter: blur(2.5rem);
        }
    }

    .primary-nav[data-visible = 'true']{
        transform: translate(0%);
    }
    .nav-bar{
        color: #ffffff;
    }

    .nav-bar:hover{
        background-color:  #8766a1;
        transition: background-color 250ms ease-in-out;
        border-bottom: 0;
    }

    .mobile-nav-toggle{
        display: block;
        z-index: 200;
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        background: transparent;
        background-image: url("/static/icons/hamburger-32x32.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 2rem;
        aspect-ratio: 1;
        border: 0;
        cursor: pointer;
    }
    
    .mobile-nav-toggle[data-icon-open = 'true']{
        background-image: url("/static/icons/favicon-32x32.svg");
        cursor: pointer;
    }

    .dropdown-content{
        display: block;
        position: relative;
        background-color: transparent;
        font-size: .9rem;
        
    }

    .dropdown-content a{
        width: fit-content;
    }

    .home-events-container{
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
    }
   
    .home-events{
        width: 90%;
    }
    
    .upcoming-events{
        display: block;
        line-height: 2rem;
        font-size: 0.9rem;
    }
   
    .event-details p, .event-details> ul, .event-details>li{
        padding: 0 1rem;
        font-size: .9rem;
    }

}