@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Major+Mono+Display&display=swap');

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* set up the body */
body {
    font-family: 'Comfortaa', cursive;

    /* font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) ); */
    line-height: 1.5;
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
    text-align: center;
}


/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


li,a{
    text-decoration: none;
    list-style-type: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 3rem;
}

.primary-nav{
    display: flex;
    
}

.nav-bar{
    padding: 1rem;
    font-family: 'Major Mono Display', monospace;
    color: rgb(0, 0, 0);
}
.nav-bar:hover {
    background-color: #8766a1;
    color: white;
    
}

.logo{
    font-family: 'Major Mono Display', monospace;
}

.home-display{
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 2rem;
   
}

.container{
    background-color: #291f31;
    color: white;
    border-radius: 20px;
}


.home-img{
    background-image: url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-color: #0e0e0e;
    min-height: 35rem;
    display: flex;
    align-items: center;
}

.home-text{
    max-width: 80%;
    background-color: rgba(0, 0, 0, 70%);
    padding: 4rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 45px;
}
.home-text>h1{
    color: #ffffff;
    font-size: 56px;
    font-weight: 500;
}

.home-events{
    margin: 1rem auto;
    width: 32%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.home-events:hover{
    background-color: #291f31c8;
}

.home-events-container{
    display: flex;
    margin: 0 1rem;
}

.upcoming-events-container{
    margin: 0 1rem;
}

.upcoming-events{
    margin: 1rem 3rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

button:hover{
    background-color: #361452c8;
    color: #ffffff;
}

button{
    padding: .8rem 1.5rem;
    border-radius: 12px;
    border: none;
    background-color: #8766a1;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.form{
    padding: 3rem 1rem ;
    max-width: 45%;
    margin: 5rem auto;
}

div>label, div>input{
    display:block;
    width: 70%;
    text-align: left;
    margin: auto;
}


form>*{
    margin-top: 1.5rem;
   
}

.logo>h2{
    cursor: pointer;
}

.login-redirect{
    color: #8766a1;
    margin-left: .5rem;
}

/* Search Bar */
.search-bar{
    max-width: 50%;
    margin: 2rem 2rem 2rem 3rem ;
    text-align: left;
}
.search-bar>*{
    display: initial;
    margin: 0;
    
}

/* Dropdown Feature */
.dropdown{
    float:left;
    overflow: hidden;
    
}

.drop-btn, .drop-btn:hover{
    background-color: white;
    color: black;
    padding-top: 0;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 7rem;
    background-color: #8766a15a;
}

.dropdown-content a{
    display: block;
    padding: 0.3rem 0.5rem;
    text-align: left;
    color: #ffffff;
}

.dropdown-content a:hover, .drop-btn:hover{
    background-color: #8766a1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

