{% extends 'layout.html' %} 

{% block heading %} 
Event Details 
{% endblock heading %} 


{% block main %}

<div class="form container event-details">
  <h2 class="event-title">{{event.name}}</h2>
  <p>EVENT TYPE: {{event.type}}</p>
  <p>Created By: {{event.user_name}}</p>
  <p>{{event.description}}</p>
  <p>LOCATION: {{event.location.capitalize()}}</p>
  <p>DATE: {{event.date}}</p>
  {% if is_soon %}
  <p class="weather-link" onclick="toggleWeatherDisplay()">Check Weather Forcast</p>
  <p class="weather-info">
    The event date will have {{weather_code.lower()}} with a highest temperature of {{temperature_max}}C and lowest of {{temperature_min}}C.
  </p>
  {% endif %}
  <p>FROM {{event.start_time}} TO {{event.end_time}}</p>
  <ul>INVITEES: 
    {% if event.email_list != ['']  and  event.email_list != None %}
    {% for email in event.email_list %}
   <li>{{email}}</li>
   {% endfor %}
   {% else %}
   <li>Not Displayed</li>
   {% endif %}
</ul>
<div class="detail-btn-holder">
  {% if event.user_id == user_id %}
  <a href="/add_or_edit_event?id={{event.id}}"><button>Edit</button></a>
  <a href="/delete_event?id={{event.id}}" onclick="return confirmDelete()"><button>Delete</button></a>
  <a href="/gallery?id={{event.id}}"><button>Gallery</button></a>
  <button class="add-photos" onclick="toggleFormDisplay()">Add Photos</button>
  <form class="add-photos-form" action="/upload_photo" method="POST" enctype="multipart/form-data">
    <div>
        <label for="images">Add images</label>
        <input type="file" name="images" id="images" multiple required/>
        <input type="hidden" name="event_id" value="{{event.id}}"/>
        <button type="submit">Submit</button>

    </div>
</form>
  {% endif %}
</div>
</div>
{% endblock main %}
