{% extends 'layout.html' %} 

{% block heading %}
Home
{% endblock heading %}
{% block main %}
<div class="home-display">
    {% if user_name == 'UNKNOWN' %}
  <div class="home-img-logged-out">
    <div class="home-text">
      <!-- <h1>YOUR ONE STOP SOLUTION TO EVENT PLANNING</h1> -->
      <h1>Your One Stop Solution to Events Planning</h1>
      <a href="/signup"><button>Get Started for Free!</button></a>
    </div>
  </div>
  {% else %}
  <div class="home-img-logged-in">
    <div class="home-text">
      <h1>Let's Make Something Happen!</h1>
      <div class="home-btn-container">
        <a href="/create_event"><button>Create an Event</button></a>
      </div>
      
    </div>
  </div>
  
  {% endif %}

  <div class="upcoming-section">
    <h1>Upcoming Events</h1>
    <div class="home-events-container">
            {% for event in all_events %}
            <div class="home-events container" onclick="location.href='/upcoming_event_detail'">
              <h3>{{event.name}}</h3>
              <p>{{event.date}}</p>
              <p>{{event.location}}</p>
            </div>
            {% endfor %}
      </div>
    
{% endblock main %}


