<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="/static/js/script.js" async defer></script>
    <title>Eevent -{% block heading %} {% endblock heading %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <h2 onclick="location.href='/'">EEvent</h2>
        </div>
        <button class="mobile-nav-toggle"  onclick="navToggle()" aria-controls="primary-nav" data-icon-open="false"></button>
        <nav>
            <ul id="primary-nav" class="primary-nav" data-visible="false">
                <li><a class='nav-bar' href="/">home</a></li>
                <li><a class='nav-bar' href="/upcoming_events">events</a></li>
                {% if user_name != 'UNKNOWN': %}
                <li><a class='nav-bar' href="/add_or_edit_event">create event</a></li>
             
                <div class="dropdown">
                    <a class='nav-bar'>my account
                        <i class="fa fa-caret-down"></i>
                    </a>
                    
                    <div class="dropdown-content">
                        <a class="my-acc" href="/my_events">My Events</a>
                        <a class="my-acc" href="/attending_events">Attending Events</a>
                        <a class="my-acc" href="/delete_acc" onclick="return confirmDelete()">Delete Account</a>
                    </div>
                </div>
                <li><a class='nav-bar' href="/logout">logout</a></li>
                {% else: %}
                <li><a class='nav-bar' href="/signup">create account</a></li>
                <li><a class='nav-bar' href="/login">login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block main %}
        {% endblock main %}
        <div class="loader"></div>
    </main>
</body>
<footer>
    <p>@Copyright 2023| Munsat Rukaya | All Rights Reserved</p>
</footer>

</html>