{% extends 'layout.html' %}

{% block heading %} 
Signup
{% endblock heading %}

{% block main %}
<div class="form container">
    <h2>Login Form</h2>
    <form action="" method="POST">
        <div>
            <label for="email">Email address: </label>
            <input type="text" name="email" required>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" required>
        </div>
        <button class="btn-style" type="submit">Submit</button>
    </form>
    <p>Demo account:</p>
    <p>email: test@abc.com</p>
    <p>password:  test123</p>
</div>
{% endblock main %}
