{% extends 'layout.html' %}

{% block heading %} 
My Events
{% endblock heading %}



{% block main %}
<div class="upcoming-events-container">
    <div class='search-and-check-container'>
        <div class="search-bar">
            <label>Search:</label>
            <input class="search-input" type="text" placeholder="Look up an event..." onkeyup="searchFunc()">
        </div>
        <form class="past-events-checkbox">
            <label for="sort-select"> Sort: </label>
            <select name="past_events" id="sort-select" , onchange="this.form.submit()">
                <option value="">--Select--</option>
                <option value="show-past">Show Past Events</option>
                <option value="show-present">Show Upcoming Events</option>
            </select>
        </form>
    </div>

{% for event in all_events %}
    <div class="upcoming-events container">
    <div>
        <h3 class="event-name">{{event.name}}</h3>
        <p>{{event.date}}</p>
        <p>{{event.location}}</p>
    </div>
    <!-- <p>{{event.description}}</p> -->
    <div>
        <a href="/event_details?id={{event.id}}"><button>See Event Details</button></a>
        <a href="/gallery?id={{event.id}}"><button>Gallery</button></a>

    
    </div>  
  </div>
{% endfor %}


{% endblock main %}
