{% extends 'layout.html' %}

{% block heading %} 
Signup
{% endblock heading %}

{% block main %}
<div class="form container">
    <h2>Sign Up Form</h2>
    <form action="" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="email">Email address: </label>
            <input type="text" name="email" required>
        </div>
        <div>
            <label for="password">Enter Password: </label>
            <input type="password" name="password1" required>
        </div>
        <div>
            <label for="password">Enter Password Again: </label>
            <input type="password" name="password2" required>
        </div>
        <p>Already a member?<a class="login-redirect" href="/login">Login</a></p>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock main %}
