{% extends 'layout.html' %}

{% block heading %} 
Upcoming Events
{% endblock heading %}

{% block main %}
<div class="upcoming-events-container">
        <div class="search-bar">
            <label>Search:</label>
            <input class="search-input" type="text" placeholder="Look up an event..." onkeyup="searchFunc()">
        </div>
    {% for event in all_events %}
        <div class="upcoming-events container" onclick="location.href='/upcoming_event_detail'">
        <div>
            <h3 class="event-name">{{event.name}}</h3>
            <p>{{event.date}}</p>
            <p>{{event.location}}</p>
        </div>
        <!-- <p>{{event.description}}</p> -->
        <div>
            <a href="/signup"><button>Attend</button></a>
            <a href="/event_details"><button>See Event Details</button></a>
        </div>  
      </div>
    {% endfor %}
    </div>
{% endblock main %}
